


    {{!-- <div class="nav">
        <a href='/'>Home Page</a>
        {{#if logged_in}}
        <a href='/dashboard'>Dashboard!</a>
        <a href='/'>Logout!</a>
        {{#unless logged_in}}
        <a href="/login">Dashboard!</a>
        <a href="/login">Please log in</a>
    </div> --}}

        {{#each posts as |post|}}
        <article class="row-mb-6">
            <div class="col-md-7">
                <h2>
                    <a href="/post/{{post.id}}">{{post.title}}</a>
                </h2>
                <div>
                    Posted by {{post.user.username}} on {{format_date createdAt}}
                </div>
            </div>
            <div class="col-sm-4">
                {{body}}
            </div>
        </article>
        {{/each}}

