<div class="posts">
    <article class="all-post-body">
        <div class="card-header flex-row justify-space-between">
            <h2>
                <a href="/post/{{post.id}}">{{post.title}}</a>
            </h2>
                    <div class="card-body">
            {{post.body}}

        </div>
            <div>
                Posted by {{post.user.username}} on {{format_date post.createdAt}}
            </div>
        </div>

    </article>
</div>
{{#if post.Comments}}
<article class="post-comments">
    <div class="card-header flex-row justify-space-between">
        <h2>
            Comments
        </h2>
        <div class="card-post-body">
            <div>

                <div>
                    <section class="card">
                        <div class="card-header">
                            <h3>Comments</h3>
                        </div>

                        <div class="card-body">
                            {{#each post.Comments}}
                            <div>
                                <p>
                                    &mdash; {{User.username}}
                                </p>
                            </div>
                            {{/each}}
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </div>


</article>
{{/if}}